@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');


body{
    font-family: "Roboto Condensed";
}

:root{
    --primary-white : rgb(255, 255, 255);
    --primary-orange: orange;
    --primary-dark: rgba(255 , 255 , 255 , 0);
    --primary-brandColor:yellow ;
    --primary-green:rgb(0, 255, 34) ;
    --primary-black : black ;
    --primary-facebook :rgb(8, 74, 255);
    --primary-instagram :rgb(102, 15, 129);
    --primary-linkedin :rgb(17, 74, 165);
    --primary-twitter : rgb(0, 109, 182);
    --primary-gamil : rgb(204, 72, 72);
    --primary-gray : rgb(194, 191, 191);
}
.mainPages{
    background:url(./assets/Bg\ 2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
}
.logInPage{
    background:url(./assets/Bg\ 2.3.png);
    background-repeat: no-repeat;
    background-position:left;
    background-size:contain;
    height: 90vh;
}
.mt-110{
    margin-top: 110px;
}
.bgColor{

}
.brandColor{
    color: var(--primary-orange);
}
.colorBlack{
    color: var( --primary-black) !important;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }